
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<script>
    $(function () {
        var Id;
        $.ajax({

            url: "/AtmLogin/GetCitizenId",
            data: "",
            async: false,
            success: function (res) {

                Id = res;

            }

        });
        var Nid;
        $.ajax({
            url: "http://192.168.1.34:88/api/Complains",
            data: { Id: Id },
            async: false,
            success: function (res) {

                Nid = res;
            }

        });

        $("#div1").hide();
        $(":checkbox").on("change", function () {
            //When the id is test1
            //And name is A
            //And it's checked
            if (this.id === "checkbox" && this.checked) {

                $("#div1").show();

                $("#txt1").val(Nid);
            }
            else {
                $("#txt1").val("");
                $("#div1").hide();
            }
        });

        var seesion;
        $.ajax({
            url: "/AtmLogin/Sessionvalue",
            data: "",
            async: false,
            success: function (res) {

                seesion = res;

            }
        });

        $("#form").validate();

        $("#btn").click(function () {

            if ($("#form").valid() == true) {

                //var gov = $("#id").val();

                var complaint = {
                    Id: 0,
                    CitizenId: Id,
                    CitizenNationalId: $("#txt1").val(),
                    GovernementId: $("#GovernementId").val(),
                    ComplainText: $("#ComplainText").val(),
                    Is_Deleted: false

                }

                $.ajax({
                    type: "Post",
                    url: "http://192.168.1.34:88/api/Complains",
                    data: JSON.stringify(complaint),
                    contentType: "application/json",
                    async: false,
                    success: function (res) {
                        if (seesion == "ar-EG") {
                            if (res == "1") {
                                const Toast = Swal.mixin({


                                    toast: true,

                                    position: 'top-end',

                                    showConfirmButton: false,

                                    timer: 5000

                                });


                                Toast.fire({

                                    type: 'success',


                                    title: "تم ارسال الشكوى بنجاح"


                                });


                            }
                        }
                        else {
                            if (res == "1") {
                                const Toast = Swal.mixin({


                                    toast: true,

                                    position: 'top-end',

                                    showConfirmButton: false,

                                    timer: 5000

                                });


                                Toast.fire({

                                    type: 'success',


                                    title: "Complaint has been sent successfully"


                                });


                            }

                        }





                    }



                });





            }


        });
        if (seesion == "ar-EG") {
            $.ajax({
                url: "http://192.168.1.34:88/api/governement_body",
                data: "",
                success: function (res) {
                    $("#GovernementId").append("<option >  </option>");
                    $.each(res, function (i, row) {

                        $("#GovernementId").append("<option value='" + row.id + "'>" + row.governement_name_arabic + " </option>");
                    });

                }

            });

        }
        else {
            $.ajax({
                url: "http://192.168.1.34:88/api/governement_body",
                data: "",
                success: function (res) {
                    $("#GovernementId").append("<option >  </option>");
                    $.each(res, function (i, row) {

                        $("#GovernementId").append("<option value='" + row.id + "'>" + row.governement_name + " </option>");
                    });

                }

            });
        }

    });
</script>
<h4>@ATM_Application.Languages.lang.Create</h4>
<h4>@ATM_Application.Languages.lang.Complain</h4>

<hr />
<form id="form">

    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <label class="label">@ATM_Application.Languages.lang.governement_body</label>
                @*@Html.DropDownList("GovernementId", null, "", new { @class = "form-control", required = "required" })*@

                <select class="form-control " required name="GovernementId" id="GovernementId">
                </select>

            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <label class="label d-block">@ATM_Application.Languages.lang.Complain</label>
                @*@Html.TextAreaFor(a => a.ComplainText, new { htmlAttributes = new { @class = "form-control", required = "required" } })*@
                <textarea class="form-control " required name="ComplainText" id="ComplainText"></textarea>

            </div>

        </div>
        <div class="row">
            <div class="col-md-3 mt-3">
                <label class="label">@ATM_Application.Languages.lang.NationalId</label>
                <input class="ml-3" type="checkbox" id="checkbox" />
            </div>
            <div class="col-md-3 mt-3" id="div1">

                <input type="text" readonly name="CitizenNationalId" id="txt1" class="form-control" />
            </div>

        </div>
        <div class="row">
            <div class="col-md-3 mt-3">
                <input type="button" class="btn btn-default " value=@ATM_Application.Languages.lang.Create id="btn" />
            </div>
        </div>

    </div>


</form>

