
@{
    ViewBag.Title = "IndexV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

    $(function () {

             var seesion;
        $.ajax({
            url: "/AtmLogin/Sessionvalue",
            data: "",
            async: false,
            success: function (res) {

                seesion = res;

            }
        });
        var Id;
        $.ajax({

            url: "/AtmLogin/GetCitizenId",
            data: "",
            async:false,
            success: function (res) {

                Id = res;

            }

        });

        if (seesion == "ar-EG") {
            $.ajax({
                url: "http://192.168.1.34:88/api/Vaccinations",
                data: { Id: Id },
            success: function (res) {

                $.each(res, function (i, r) {

                  //  $("#tb").append("<tr>  <td> "+r.Reservation_date+"  </td>  <td> "+r.hospital_name_arabic+"  </td>  <td> "+r.citizen_first_name_arabic+" "+r.citizen_second_name_arabic+" "+r.citizen_third_name_arabic+" "+r.citizen_fourth_name_arabic+"  </td> <td> "+r.district_arabic_name+"  </td> <td> "+r.checkup_date+"  </td>  </tr>");
                  $("#tb").append("<tr class='tt'>  <td> " + r.Reservation_date + "  </td>  <td> " + r.hospital_name_arabic + "  </td>  <td> " + r.citizen_first_name_arabic + " " + r.citizen_second_name_arabic + " " + r.citizen_third_name_arabic + " " + r.citizen_fourth_name_arabic + "  </td><td> " + r.district_arabic_name + "  </td> <td> " + r.checkup_date + " from " + r.checkup_start + " to " + r.checkup_end + "  </td> <td> <a class='dell' href='/Vaccinations/Delete?DId="+ r.healthcareReservation_id +"' > <i class='fa fa-trash-alt'>   </i>  </a>  </td> </tr>");

                });

            }


            });
             $("#btn").click(function () {


                $(".tt").empty();
                var form = $("#form");
                var from = $("#datefrom").val();
                var to = $("#dateto").val();
                $(".tt").empty();
                if (from != "" && to != "" && $("#citzen").val() != "") {
                    $(".tt").empty();
                    $.ajax({
                        url: "http://192.168.1.34:88/api/Vaccinations",
                        data: { Id: Id, from: from, to: to },
                        async: false,
                        success: function (res) {

                            $.each(res, function (i, r) {

                                $("#tb").append("<tr class='tt'>  <td> " + r.Reservation_date + "  </td>  <td> " + r.hospital_name_arabic + "  </td>  <td> " + r.citizen_first_name_arabic + " " + r.citizen_second_name_arabic + " " + r.citizen_third_name_arabic + " " + r.citizen_fourth_name_arabic + "  </td><td> " + r.district_arabic_name + "  </td> <td> " + r.checkup_date + " from " + r.checkup_start + " to " + r.checkup_end + "  </td> <td> <a class='dell' href='/Vaccinations/Delete?DId="+r.healthcareReservation_id+"'> <i class='fa fa-trash-alt'>   </i>  </a>  </td> </tr>");
                                $("#del").addClass('text-primary');

                            });


                        }


                    });
                }




            });
        }
        else {


            $.ajax({
                url: "http://192.168.1.34:88/api/Vaccinations",
                data: { Id: Id },
            success: function (res) {

                $.each(res, function (i, r) {

                  // $("#tb").append("<tr>  <td> "+r.Reservation_date+"  </td>  <td> "+r.hospital_name+"  </td>  <td> "+r.citizen_first_name+" "+r.citizen_second_name+" "+r.citizen_third_name+" "+r.citizen_fourth_name+"  </td> <td> "+r.district_name+"  </td> <td> "+r.checkup_date+"  </td>  </tr>");
                  $("#tb").append("<tr class='tt'>  <td> " + r.Reservation_date + "  </td>  <td> " + r.hospital_name + "  </td>   <td> " + r.citizen_first_name + " " + r.citizen_second_name + " " + r.citizen_third_name + " " + r.citizen_fourth_name + "  </td><td> " + r.district_name + "  </td> <td> " + r.checkup_date + " from " + r.checkup_start + " to " + r.checkup_end + "  </td> <td> <a class='dell' href='/Vaccinations/Delete?DId="+r.healthcareReservation_id+"' > <i class='fa fa-trash-alt'>   </i>  </a>  </td> </tr>");

                });

            }


             });
             $("#btn").click(function () {


                $(".tt").empty();
                var form = $("#form");
                var from = $("#datefrom").val();
                var to = $("#dateto").val();
                $(".tt").empty();
                if (from != "" && to != "" && $("#citzen").val() != "") {
                    $(".tt").empty();
                    $.ajax({
                        url: "http://192.168.1.34:88/api/Vaccinations",
                        data: { Id: Id, from: from, to: to },
                        async: false,
                        success: function (res) {

                            $.each(res, function (i, r) {

                                $("#tb").append("<tr class='tt'>  <td> " + r.Reservation_date + "  </td>  <td> " + r.hospital_name + "  </td>  <td> " + r.citizen_first_name + " " + r.citizen_second_name + " " + r.citizen_third_name + " " + r.citizen_fourth_name + "  </td><td> " + r.district_name + "  </td> <td> " + r.checkup_date + " from " + r.checkup_start + " to " + r.checkup_end + "  </td> <td> <a class='dell' href='/Vaccinations/Delete/"+r.healthcareReservation_id+"'> <i class='fa fa-trash-alt'>   </i>  </a>  </td> </tr>");
                                $("#del").addClass('text-primary');

                            });


                        }


                    });
                }




            });
        }



    });
</script>
<div class="container-fluid">


    <h2>  @ATM_Application.Languages.lang.Index</h2>

    <p>
        <a href="/Vaccinations/Create">@ATM_Application.Languages.lang.Create</a>
    </p>


    <table class="table" id="tb">
        <tr>
            <th>

                @ATM_Application.Languages.lang.Date
            </th>
            <th>
                @ATM_Application.Languages.lang.HospitalName
            </th>
            <th>

                @ATM_Application.Languages.lang.Child_Information
            </th>
            <th>
                @ATM_Application.Languages.lang.Vaccination_type
            </th>
            <th>
                @ATM_Application.Languages.lang.Appointments
            </th>
            <th>

            </th>
        </tr>



    </table>

</div>

