
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Servicly</title>
    <!-- Font Awesome -->
    @*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">*@
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <!-- Bootstrap core CSS -->

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Material Design Bootstrap -->
    <link href="~/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="~/css/style.min.css" rel="stylesheet">

    <link href="~/css/StyleSheet1.css" rel="stylesheet" />

    <link href="~/AdminLTE-3.0.1/dist/css/@ATM_Application.Languages.lang.ApplicationDirection" rel="stylesheet" />
    <link href="~/js/@ATM_Application.Languages.lang.arabic_css" rel="stylesheet" />
    @*<link href="~/AdminLTE-3.0.1/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />*@
    <link href="~/AdminLTE-3.0.1/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    @*<script type="text/javascript" src="~/js/jquery-3.4.1.min.js"></script>*@
    <!-- JQuery -->
    <script src="~/Scripts/jquery-3.4.1.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="~/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->

    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/js/mdb.min.js"></script>
    @*<script src="~/AdminLTE-3.0.1/plugins/sweetalert2/sweetalert2.min.js"></script>*@
    <script src="~/AdminLTE-3.0.1/plugins/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="~/AdminLTE-3.0.1/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/AdminLTE-3.0.1/plugins/jquery-validation/additional-methods.js"></script>
    <!-- Initializations -->
    <script type="text/javascript">
        // Animations initialization
        new WOW().init();</script>
    <script src="~/AdminLTE-3.0.1/plugins/jquery-validation/localization/@ATM_Application.Languages.lang.MsgLocal"></script>

    <style>
        html, body {
            height: 100%;
        }

        .divider {
            margin-top: 1rem;
            margin-bottom: 1rem;
            height: 1px;
            overflow: hidden;
            background: #e9ecef;
        }

        h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
            margin-bottom: .5rem;
            font-family: inherit;
            font-weight: 400;
            line-height: 1.2;
            color: inherit;
        }

        .app-container {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
            margin: 0;
        }

        .app-theme-white.app-container {
            background: #f1f4f6;
        }

        .error {
            color: red;
        }



        .loading-overlay {
            background: rgba(61, 60, 59, 0.65);
            color: #FFF;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 99999;
        }
    </style>
    <link href="~/Content/loadingPage.css" rel="stylesheet" />
    <script type="text/javascript">

        $(function () {

            $("#form").validate(

                {
                    rule: {
                        username: "required",
                        password: "required",
                    },
                    message: {


                        username: "User Name is required!",

                        password:"paswword is required!"
                    }


                }
            );




            $("#btn").click(function () {


                var fooorm = $("#form");

            if (fooorm.valid() == true) {



                     $('.loading-overlay').show();




                var user = $("#username").val();
                var password = $("#password").val();

                var citizen = { username: user, password: password };
                $.ajax({
                    type:"Post",
                    url: "http://192.168.1.34:88/api/AtmLogin",
                    data: JSON.stringify(citizen) ,
                    contentType: "application/json",
                    async: false,
                    success: function (res) {

                        if (res != null) {

                            var data1;
                            var data2;
                            var data3;
                            var data4;
                            var data5;
                            var data6;
                            var data7;
                            var data8;
                            var data9;
                            var data10;
                            $.each(res, function (i, r) {

                                data1 = r.citizen_id
                                data2 = r.citizen_national_id
                                data3 = r.citizen_first_name
                                data4 = r.citizen_second_name
                                data5 = r.citizen_third_name
                                data6 = r.citizen_fourth_name
                                data7 = r.citizen_first_name_arabic
                                data8 = r.citizen_second_name_arabic
                                data9 = r.citizen_third_name_arabic
                                data10 = r.citizen_fourth_name_arabic
                                data11 = r.citizen_gender
                            });

                            var c1 = {
                                citizen_id: data1,
                                citizen_national_id: data2,
                                citizen_first_name: data3,
                                citizen_second_name: data4,
                                citizen_third_name: data5,
                                citizen_fourth_name: data6,
                                citizen_first_name_arabic: data7,
                                citizen_second_name_arabic: data8,
                                citizen_third_name_arabic: data9,
                                citizen_fourth_name_arabic: data10,
                                citizen_gender: data11
                            }


                            $.ajax({
                                type: "Post",
                                url: "/AtmLogin/GetData",
                                data: JSON.stringify(c1),
                                contentType: "application/json",
                                async: false,




                            });

                            window.open("/ATMMinistry/Index", "_self");
                        }
                        else {


                            const Toast = Swal.mixin({


                                toast: true,

                                position: 'top-end',

                                showConfirmButton: false,

                                timer: 5000

                            });


                            Toast.fire({

                                type: 'error',


                                title: "@ATM_Application.Languages.lang.userpass"


                            });

                        }

                       $(".loading-overlay , .loading-overlay spinner ").fadeOut(2000);

                    },
                    error: function (ex) {
                                     setTimeout(function () { $(".loading-overlay , .loading-overlay spinner ").fadeOut(2000); }, 1000);

                           const Toast = Swal.mixin({


                                toast: true,

                                position: 'top-end',

                                showConfirmButton: false,

                                timer: 5000

                            });


                            Toast.fire({

                                type: 'error',


                                title: "somthing went wrong pleas try later!"


                            });
                       $(".loading-overlay , .loading-overlay spinner ").fadeOut(3000);

                    }


                });

            }

            });





        });


        $(window).on('load', function () {

            setTimeout(function () { $(".loading-overlay , .loading-overlay spinner ").fadeOut(); }, 2000);




        });

    </script>

</head>
<body>

    <div class=" app-container app-theme-white h-100  ">
        <div class="app-container">
            <div class="h-100">
                <div class="h-100 no-gutters row">

                    <div class="d-none d-lg-block col-lg-4">
                        <!--Carousel Wrapper-->
                        <div id="carousel-example-1z" class="carousel slide carousel-fade h-100" data-ride="carousel">

                            <!--Indicators-->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                                <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                            </ol>
                            <!--/.Indicators-->
                            <!--Slides-->
                            <div class="carousel-inner" role="listbox">

                                <!--First slide-->
                                <div class="carousel-item active">
                                    <div class="view" style="background-image: url('../../img/wp2275698.jpg'); background-repeat: no-repeat; background-size: cover; background-position:center;">

                                        <!-- Mask & flexbox options-->
                                        <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

                                        </div>
                                        <!-- Mask & flexbox options-->

                                    </div>
                                </div>
                                <!--/First slide-->
                                <!--Second slide-->
                                <div class="carousel-item">
                                    <div class="view" style="background-image: url('../../img/1366x768-egypt-pyramids.JPG'); background-repeat: no-repeat; background-size: cover;  background-position:center;">

                                        <!-- Mask & flexbox options-->
                                        <div class="mask rgba-black-light d-flex justify-content-center align-items-center">



                                        </div>
                                        <!-- Mask & flexbox options-->

                                    </div>
                                </div>
                                <!--/Second slide-->
                                <!--Third slide-->
                                <div class="carousel-item">
                                    <div class="view" style="background-image: url('../../img/original.jpg'); background-repeat: no-repeat; background-size: cover; background-position:center;">

                                        <!-- Mask & flexbox options-->
                                        <div class="mask rgba-black-light d-flex justify-content-center align-items-center">



                                        </div>
                                        <!-- Mask & flexbox options-->

                                    </div>
                                </div>
                                <!--/Third slide-->

                            </div>
                            <!--/.Slides-->
                            <!--Controls-->
                            <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                            <!--/.Controls-->

                        </div>
                        <!--/.Carousel Wrapper-->
                    </div>
                    <div class=" h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-8">
                        <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9 container">

                            <div class="justify-content-center align-items-center text-center" style="margin-bottom:1.2rem">
                                <div>
                                    <img src="~/img/1222.jpeg" width="100" height="100" class=" mb-4 brand-image img-circle elevation-2" style="opacity: .8">

                                </div>
                                <h3 class="pb-1">GSE General Services of Egypt</h3>
                            </div>


                            <h4 class="mb-0">
                                <span class="d-block" style="font-size: 1.1rem;">@ATM_Application.Languages.lang.Wlecome_Back</span>
                                <span style="font-size: 1.1rem;">@ATM_Application.Languages.lang.Please_sign_in_to_your_account</span>
                            </h4>
                           
                            <div class="divider row"></div>
                            <!-- form bta3t el loginnnn .... /// // // // // // // / /// -->
                            <form id="form">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="exampleEmail" class="">@ATM_Application.Languages.lang.NationalId</label>
                                            <input required name="user_name" id="username" placeholder="@ATM_Application.Languages.lang.National_Idhere" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="examplePassword" class="">@ATM_Application.Languages.lang.PinNumber</label>
                                            <input required name="user_password" ;" id="password" placeholder="@ATM_Application.Languages.lang.Passwor_here" type="password" class="form-control">
                                        </div>
                                    </div>
                                </div>

                                <div class="divider row"></div>
                                <div class="d-flex align-items-center ">
                                    <div class="@ATM_Application.Languages.lang.ml_auto ">
                                        <button id="btn" type="button" class="btn btn-primary btn-lg active rounded" style="text-transform:capitalize">@ATM_Application.Languages.lang.Log_in</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>

    <!--start section of loading page-->
    <section class="loading-overlay">
        
        <div class="spinner">
           
                <img src="~/img/1222.jpeg" width="100" height="100" class=" mb-4 brand-image img-circle elevation-2" style="opacity: .8">

            
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>


        </div>

    </section>
    <!-- / End of section of loading page -->

</body>
</html>
